.confirmation-bg {
    background-color: #CE2829;
}

.conf {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}


.conf h1 {
    color: white;
    font-size: 3.12rem;
    font-weight: 400;
    font-family: "Londrina Solid", sans-serif;
    width: 22.68rem;
    text-align: center;
    margin: 0;
    padding-top: 2.5rem;
}

.conf h3 {
    color: #fdc913;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Satisfy", sans-serif;
    width: 20.25rem;
    text-align: center;
    margin: 0;
    padding-top: 2.5rem;
}

.conf p {
    color: white;
    font-size: 5.37rem;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    width: 36.68rem;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-bottom: 2.5rem;
}

.conf-section-divider {
    width: 32.5rem;
    color: #faf7f2;
}

.conf h4 {
    color: white;
    font-size: 1.37rem;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    width: 29.75rem;
    text-align: center;
    margin: 0;
    padding-top: 1.5rem;
}

/* PİZZA BOYUTU */
.conf-pizza-boyutu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 11.81rem;
    margin-top: 2.5rem;

}

.conf-pizza-boyutu h3 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    padding-top: 0;
    text-align: left;
    width: 4.20rem;
}

.conf-pizza-boyutu p {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    padding-bottom: 0;
    text-align: left;
    padding-left: .2rem;
}

/* HAMUR KALINLIĞI */
.conf-hamur-kalinligi {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 11.81rem;
    margin-top: .5rem;
}

.conf-hamur-kalinligi h3 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    padding-top: 0;
    text-align: left;
    width: 4.20rem;
}

.conf-hamur-kalinligi p {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    padding-bottom: 0;
    text-align: left;
    padding-left: .2rem;

}

/* EK MALZEMELER */
.conf-ek-malzemeler {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 11.81rem;
    margin-top: .5rem;
    flex-wrap: wrap;
}

.conf-ek-malzemeler h3 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    padding-top: 0;
    text-align: left;
}

.conf-ek-malzemeler p {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    padding-bottom: 0;
    text-align: left;

}

/* SİPARİŞ TOPLAMI */
.conf-toplam-fiyat {
    width: 21.87rem;
    border: 1px solid white;
    margin: 5rem 0 10rem 0;
    border-radius: .5rem;

}

.conf-toplam-fiyat h5 {
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: white;
    margin: 2rem 0 1.5rem 2.5rem;
    padding-top: 1rem;

}

.conf-secimler {
    display: flex;
    /* Flexbox ile yan yana dizme */
    justify-content: space-between;
    /* Öğeleri sağa ve sola yaslar */
    align-items: center;
    margin-right: 1rem;
    padding-right: 3rem;
    margin-left: 2.5rem;
}

.conf-secimler h3 {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 0;
    text-align: left;
    padding-top: 1rem;
}

.conf-secimler p {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: white;
    padding-bottom: 0;
    text-align: right;
    padding-top: 1rem;
}

.conf-toplam {
    display: flex;
    /* Flexbox ile yan yana dizme */
    justify-content: space-between;
    /* Öğeleri sağa ve sola yaslar */
    align-items: center;
    margin-right: 1rem;
    padding-right: 3rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;

}

.conf-toplam h3 {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 0;
    text-align: left;
    padding-top: 1rem;
}

.conf-toplam p {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: white;
    padding-bottom: 0;
    text-align: right;
    padding-top: 1rem;

}

@media (max-width: 540px) {
    body.confirmation-bg {
        background: #CE2829;
    }

    .conf h1 {
        color: white;
        font-size: 4.5rem;
        width: 24.87rem;
        text-align: center;
    }
}