/* FOOTER */

.footer {
    border: 1px solid black;
    background-color: #1A1A1A;
    border-bottom: white;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-first-col {
    display: flex;
    flex-direction: column;
    width: 19.12rem;
    margin-left: 10rem;
    gap: 1rem;
}

.footer h1 {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-size: 3.12rem;
    width: 15.68rem;
    margin-bottom: 2rem;
    text-align: left;
    color: white;
}

.location {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.location img {
    width: 1.75rem;
    height: 1.75rem;

}

.location p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1.12rem;
    width: 14.89rem;
    text-align: left;
    line-height: 1.8rem;
    padding-bottom: 0;
}

.email {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
}

.email img {
    width: 1.75rem;
    height: 1.75rem;
}

.email p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1.12rem;
    width: 14.89rem;
    text-align: left;
    line-height: 1.8rem;
    padding-bottom: 0;
}


.phone {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
}

.phone img {
    width: 1.75rem;
    height: 1.75rem;
}

.phone p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1.12rem;
    width: 14.89rem;
    text-align: left;
    line-height: 1.8rem;
    padding-bottom: 0;
}

.footer-second-col {
    width: 19.12rem;
    margin-top: 4.9rem;
}

.footer-second-col h1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
}

.footer-second-col ul {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1.12rem;
    text-align: left;
    color: white;
    padding-left: 0;
}


.footer-third-col {
    width: 20.5rem;
    margin-top: 4.9rem;
    margin-right: 10rem;
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.instagram-grid img {
    width: 6.56rem;
    height: 6.56rem;
}

.footer-third-col h1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
}

.footer-two {
    border: 1px solid black;
    background-color: #1A1A1A;
    border-top: white;
    width: 100%;
    height: auto;
}


.footer-section-divider {
    order: 99;
    /* Bu öğeyi alta taşır */
    flex-basis: 100%;
    /* Tüm satırı kaplar */
    margin: 2rem 0 1rem 0;
    color: rgba(255, 255, 255, 0.139);
}


.footer-last {
    order: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    /* Metin ve ikon arasında boşluk bırakır */
    padding: 1rem 0;
    width: 120rem;
    color: white;
}

.footer-last p {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: left;
    align-items: flex-start;
    width: 20.75rem;
    margin-left: 2.5rem;
}

.footer-last img.twitter {
    width: 1rem;
    height: 1rem;
    margin-right: 2.5rem;
}


@media(max-width: 576px) {

    .footer-first-col {
        display: flex;
        flex-direction: column;
        width: 19.12rem;
        margin-left: 0;
        gap: 0;
        padding-top: 1.5rem;
    }

    .footer h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .footer-second-col {
        width: 19.12rem;
        margin-top: 2rem;
    }

    .footer-second-col h1 {
        font-size: 2rem;
        text-align: left;
    }

    .footer-third-col {
        width: 19.12rem;
        margin-top: 3rem;
        margin-right: 0;
    }

    .instagram-grid img {
        width: 5.5rem;
        height: 5.5rem;
    }

    .instagram-grid {
        gap: 0;
        padding-bottom: 2rem;
    }

    .footer-third-col h1 {
        font-size: 2rem;
        text-align: left;
        margin: 0;
        padding-bottom: 1.5rem;
    }

    .footer-section-divider {
        flex-basis: 75%;
        /* Tüm satırı kaplar */
        margin: 2rem 0 1rem 0;
        color: rgba(255, 255, 255, 0.139);
    }

    .footer-last {
        display: flex;
        justify-content: space-around;
        gap: 0;
        padding: 1rem 0;
        width: 100%;
    }

    .footer-last p {
        font-size: .9rem;
        text-align: left;
        width: 11.5rem;
        margin-left: 0;
    }

    .footer-last img.twitter {
        margin-right: 0;
    }

}


@media(min-width: 576px) and (max-width: 991px) {
    .footer-first-col {
        width: 19rem;
        margin-left: 0;
        gap: 1rem;
    }

    .location {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
    }

    .location p,
    .email p,
    .phone p {
        margin: 0.2rem;
    }

    .footer-second-col {
        width: 14rem;
        margin-top: .4rem;
    }

    .footer-third-col {
        width: 14rem;
        margin-top: 3.5rem;
        margin-right: 0;
    }

    .instagram-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .1rem;
    }

    .instagram-grid img {
        width: 6rem;
        height: 6rem;
    }

}