.image {
    position: relative;
}

.home-banner {
    width: 100%;
    height: auto;
}

/* Logo */
.home-logo {
    position: absolute;
    top: 10%;
    /* Üstten %20 mesafe */
    left: 50%;
    /* Yatayda ortalamak için */
    transform: translateX(-50%);
    /* Yatayda tam ortalama */
    width: 22.62rem;
    /* Logonun genişliği */
    height: auto;
    /* Yükseklik orantılı */
    margin-bottom: 3rem;
}

/* Yazı */
.paragraf-home {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5.37rem;
    color: white;
    font-weight: 300;
    text-align: center;
    width: 43.32rem;
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 2rem;
}

/* Buton */
.button-home {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FDC913;
    color: black;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.12rem;
    cursor: pointer;
    width: 12rem;
    height: 3.5rem;
    font-family: 'Barlow', sans-serif;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .home-logo {
        width: 15rem;
        top: 15%;
        /* Logonun üstten konumunu biraz düşürdük */
    }

    .paragraf-home {
        font-size: 2rem;
        /* Yazı boyutu küçültüldü */
        width: 90%;
        /* Daha küçük ekranlarda daha fazla sığması için genişlik ayarlandı */
        top: 35%;
        /* Yazının yerleşimi aşağı çekildi */
        line-height: 1.5;
        /* Daha iyi okunabilirlik için satır yüksekliği */
    }

    .button-home {
        top: 60%;
        /* Butonun konumu mobilde optimize edildi */
        width: 10rem;
        /* Buton genişliği biraz küçültüldü */
        font-size: 1rem;
        /* Yazı boyutu ayarlandı */
    }
}

@media (max-width: 480px) {
    .home-logo {
        width: 12rem;
        /* Daha küçük ekranlarda logonun boyutu küçültüldü */
        top: 10%;
        /* Üst boşluk ayarlandı */
    }

    .paragraf-home {
        font-size: 1.5rem;
        /* Çok küçük cihazlar için yazı boyutu daha da küçültüldü */
        width: 80%;
        /* Daha dar genişlik */
        top: 30%;
        /* Daha iyi yerleşim için yukarı kaydırıldı */
    }

    .button-home {
        top: 50%;
        /* Butonun pozisyonu daha yukarı taşındı */
        width: 8rem;
        /* Buton genişliği küçültüldü */
        font-size: 0.9rem;
        /* Yazı boyutu küçültüldü */
        height: 3rem;
        /* Buton yüksekliği ayarlandı */
    }
}