.image {
    position: relative;
}

.home-banner {
    width: 100%;
    height: auto;
}

/* Logo */
.home-logo {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 22.62rem;
    margin-bottom: 3rem;
}

.new-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firsat {
    position: absolute;
    top: 7rem;
    font-family: "satisfy", sans-serif;
    font-size: 2rem;
    color: #FDC913;
    font-weight: 400;
}

/* Yazı */
.paragraf-home {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5.37rem;
    color: white;
    font-weight: 300;
    text-align: center;
    width: 43.32rem;
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 2rem;
}

/* Buton */
.button-home {
    position: absolute;
    top: 26rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FDC913;
    color: black;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.12rem;
    cursor: pointer;
    width: 12rem;
    height: 3.5rem;
    font-family: 'Barlow', sans-serif;
}


.for-background-color {
    background-color: #f5f5f5;
}

.paket {
    text-align: center;
    font-family: "satisfy", sans-serif;
    font-size: 2rem;
    color: #ce2829;
    font-weight: 400;
    padding-top: 0;
    margin-top: 0;
}

.baslik-bir {
    text-align: center;
    font-family: "barlow", sans-serif;
    font-size: 2.62rem;
    color: #292929;
    font-weight: 600;
    padding-bottom: 1rem;

}




@media screen and (max-width: 768px) {
    .home-logo {
        width: 15rem;
        /* Adjust logo size */
        top: 2rem;
        /* Adjust logo position */
        margin-bottom: 1.5rem;
        /* Adjust margin */
    }

    .paragraf-home {
        font-size: 3rem;
        /* Smaller font size */
        width: 90%;
        /* Adjust width */
        top: 4rem;
        /* Adjust position */
        font-size: 4rem;
    }

    .button-home {
        width: 10rem;
        /* Adjust button width */
        height: 3rem;
        /* Adjust button height */
        top: 20rem;
        /* Adjust button position */
    }

    .firsat {
        top: 5rem;
        /* Adjust position */
        font-size: 1.5rem;
        /* Adjust font size */
    }
}