.secenekler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.secenekler div {
    display: flex;

}

.kore,
.pizza,
.burger,
.kızartma,
.fastfood,
.icecek {
    gap: 1rem;
}


@media(max-width: 576px) {
    .secenekler {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin: 1.5rem 0;
        padding: 0 2.5rem;
    }
}

@media(max-width: 991px) {
    .secenekler {
        gap: 1.7rem;
        margin-bottom: 1rem;
    }

}