.secenekler-eng {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.secenekler-eng div {
    display: flex;
}

.ramen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 2rem;
    width: 9.17rem;
    height: 4.12rem;
}

.ramen img {
    width: 2.62rem;
    height: 2.62rem;
    padding: 0;
    margin: 0;
}

.ramen p {
    width: 2.62rem;
    height: 2.62rem;
    padding: .5rem 0 0 0;
    margin: 0;
    height: 1.93rem;
}



.pizza-eng {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid white;
    background-color: #292929;
    border-radius: 2rem;
    width: 8.37rem;
    height: 4.12rem;
}

.pizza-eng img {
    width: 2.62rem;
    height: 2.62rem;
    padding: 0;
    margin: 0;
}

.pizza-eng p {
    width: 2.62rem;
    height: 2.62rem;
    padding: .5rem 0 0 0;
    margin: 0;
    color: white;
    height: 1.93rem;
}


.burger-eng {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 2rem;
    width: 9.08rem;
    height: 4.12rem;
}

.burger-eng img {
    width: 2.62rem;
    height: 2.62rem;
    padding: 0;
    margin: 0;
}

.burger-eng p {
    width: 2.62rem;
    height: 2.62rem;
    padding: .5rem 0 0 0;
    margin: 0;
    height: 1.93rem;
}


.frenchfries {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 2rem;
    width: 11.67rem;
    height: 4.12rem;
}

.frenchfries img {
    width: 2.62rem;
    height: 2.62rem;
    padding: 0;
    margin: 0;
}

.frenchfries p {
    width: 5.5rem;
    height: 2.62rem;
    padding: .5rem 0 0 0;
    margin: 0;
    height: 1.93rem;
}


.fastfood-eng {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 2rem;
    width: 10.36rem;
    height: 4.12rem;
}

.fastfood-eng img {
    width: 2.62rem;
    height: 2.62rem;
    padding: 0;
    margin: 0;
}

.fastfood-eng p {
    width: 4.1rem;
    height: 2.62rem;
    padding: .5rem 0 0 0;
    margin: 0;
    height: 1.93rem;
}

.softdrinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 2rem;
    width: 11.14rem;
    height: 4.12rem;
}

.softdrinks img {
    width: 2.62rem;
    height: 2.62rem;
    padding: 0;
    margin: 0;
}

.softdrinks p {
    width: 4.8rem;
    height: 2.62rem;
    padding: .5rem 0 0 0;
    margin: 0;
    height: 1.93rem;
}


@media(max-width: 576px) {
    .secenekler-eng {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media(max-width: 991px) {
    .secenekler-eng {
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .ramen img,
    .pizza-eng img,
    .burger-eng img,
    .frenchfries img,
    .fastfood-eng img,
    .softdrinks img {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        margin: 0;
    }

    .ramen,
    .pizza-eng,
    .burger-eng,
    .frenchfries,
    .fastfood-eng,
    .softdrinks {
        gap: .2rem;
        width: 8.5rem;
        height: 3.5rem;
    }
}