body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

/* Header */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: #CE2829;
    color: white;
}

.logo {
    width: 23rem;
    margin-bottom: 3rem;
}

.links-container {
    display: flex;
    justify-content: center;
    margin-right: 21.6rem;
    gap: 1rem;
    max-width: 34rem;
}

.links-container a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    gap: 1rem;
}

.links-container a:hover {
    text-decoration: underline;
    color: darkred;
}


/* Main */
.titleOne {
    max-width: 33.25rem;
    font-size: 1.40rem;
    margin: 2rem auto;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
}

.price-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 33.25rem;
    margin: 2rem auto;
}

.price {
    color: #292929;
    font-size: 1.75rem;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

.rating {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
    width: 7.56rem;
    color: #5F5F5F;
}

.rating-count {
    font-size: 1rem;
    color: #5F5F5F;
}


.desc {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #5F5F5F;
    max-width: 33.25rem;
    margin: 2rem auto;
    line-height: 1.8rem;
}


/* Main - Boyut & Hamur Seç */

form {
    max-width: 33.25rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.boyut-hamur {
    display: flex;
    justify-content: space-between;
    /* Space between boyut and hamur */
    gap: 1rem;

}

.boyut-secim {
    max-width: 9.18rem;
}

.boyut-secim h2 {
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
}

.boyut-secim label {
    display: flex;
    margin: 0.5em 0;
    font-family: 'Barlow', sans-serif;
    line-height: 1.87rem;
}

input {
    max-width: 6.31rem;
}

.hamur-secim {
    max-width: 9.93rem;
    font-family: 'Barlow', sans-serif;
    margin-right: 10rem;
}

select {
    max-width: 9.87rem;
}

.hamur-secim h2 {
    max-width: 9.87rem;
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
}


/* Main - Ek Malzemeler */
.ek-malzemeler {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* 3 sütun */
    gap: 1rem;
    /* Sütunlar arasındaki boşluk */
    margin-top: 1rem;
}

.ek-malzemeler h2 {
    font-size: 1.25rem;
    font-weight: 600;
    grid-column: span 3;
    /* Başlık, tüm sütunları kapsasın */
    color: #292929;
    margin: 0;

}

.ek-malzemeler p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    grid-column: span 3;

}

.ek-malzemeler label {
    display: flex;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
    font-weight: bold;
    color: #5F5F5F;
    gap: 0.8rem;
}

.ek-malzemeler input {
    margin: 0;
}

.siparis-notu {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width: 33.25rem;
}

.siparis-notu h2 {
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
}

.siparis-notu textarea {
    padding: 0.75rem;
    border-color: #5F5F5F;
    border-radius: 0.5rem;
    color: #5F5F5F;
    font-size: 0.87rem;
    font-family: 'Barlow', sans-serif;
    resize: none;
    /* Kullanıcı boyutunu değiştiremesin */
}

.section-divider {
    border: none;
    /* Varsayılan kenarlığı kaldır */
    border-top: 1px solid #292929;
    /* Üst çizgi ekle */
    margin: 2.5rem 0;
    /* Çizginin üst ve altına boşluk */
    max-width: 33.25rem;

}


.siparis-counter-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
}

.counter {
    width: 10.62rem;
    height: 3.56rem;
    display: flex;
    align-items: center;
}

.counter button {
    width: 3.56rem;
    height: 3.56rem;
    background-color: #FDC913;
    border-color: #FDC913;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: none;
}

.decrement {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.increment {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


.count {
    background-color: white;
    border: 1px solid #D9D9D9;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.56rem;
    height: 3.56rem;
    margin-bottom: 0;
}


.siparis-toplam {
    margin-left: 1rem;
    padding-left: 3rem;
    width: 21.87rem;
    border: 1px solid #5F5F5F;
    border-bottom: #FDC913;
    border-radius: 0.5rem;
    line-height: 0.25rem;
    margin-bottom: 0;

}

.siparis-toplam h2 {
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;

}

.secimler {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #5F5F5F;
    display: flex;
    /* Flexbox ile yan yana dizme */
    justify-content: space-between;
    /* Öğeleri sağa ve sola yaslar */
    align-items: center;
    margin-right: 1rem;
    padding-right: 3rem;

}

.toplam {
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #CE2829;
    display: flex;
    /* Flexbox ile yan yana dizme */
    justify-content: space-between;
    /* Öğeleri sağa ve sola yaslar */
    align-items: center;
    margin-right: 1rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}

.siparis-ver {
    width: 21.80rem;
    /* Sipariş toplamıyla aynı genişlik */
    height: 3.87rem;
    /* Sabit yükseklik */
    margin-left: 1rem;
    /* Aynı hizalamayı koru */
    background-color: #FDC913;
    /* Arka plan rengi */
    border: 1px solid #FDC913;
    /* Kenar görünümü */
    border-radius: 0.5rem;
    /* Yuvarlak köşeler */
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
    display: flex;
    justify-content: center;
    /* Buton içeriğini yatayda ortala */
    align-items: center;
    /* Buton içeriğini dikeyde ortala */
    cursor: pointer;
    /* İmleç değişimi */
    margin-bottom: 2.5rem;
    margin-left: auto;
}