/* Main */
.titleOne {
    max-width: 33.25rem;
    font-size: 1.40rem;
    margin: 2rem auto;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
}

.price-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 33.25rem;
    margin: 2rem auto;
}

.price {
    color: #292929;
    font-size: 1.75rem;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

.rating {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
    width: 7.56rem;
    color: #5F5F5F;
}

.rating-count {
    font-size: 1rem;
    color: #5F5F5F;
}


.desc {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #5F5F5F;
    max-width: 33.25rem;
    margin: 2rem auto;
    line-height: 1.8rem;
    padding-bottom: 3rem;
}