body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    height: 100%;

}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: #CE2829;
    color: white;
}

.logo {
    width: 23rem;
    margin-bottom: 3rem;
    /* Logo ile bağlantılar arasında boşluk */
}

/* Bağlantılar için Flexbox düzeni */
.links-container {
    display: flex;
    justify-content: center;
    /* Bağlantıları yatayda ortalar */
    margin-right: 20rem;
    gap: 1rem;
    /* Bağlantılar arasındaki boşluk */
    width: 12rem;
}

/* Bağlantıların stili */
.links-container a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
}

.links-container a:hover {
    text-decoration: underline;
    color: darkred;
}

.titleOne {
    max-width: 32rem;
    font-size: 1.40rem;
    margin: 2rem auto;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.price-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 32rem;
    margin: 2rem auto;
}

.price {
    color: #000;
    font-size: 1.75rem;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

.rating {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    /* Yıldız ve sayılar arasında boşluk */
    font-size: 1rem;
    width: 7.56rem;
}

.rating-count {
    font-size: 1rem;
}


.desc {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #5F5F5F;
    max-width: 33.25rem;
    margin: 2rem auto;
    line-height: 1.8rem;
}