body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    height: 100%;
}

/* Header */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: #CE2829;
    color: white;
}

.logo {
    width: 23rem;
    margin-bottom: 3rem;
}

.links-container {
    display: flex;
    justify-content: center;
    margin-right: 21.6rem;
    gap: 1rem;
    max-width: 34rem;
}

.links-container a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
}

.links-container a:hover {
    text-decoration: underline;
    color: darkred;
}


/* Main */
.titleOne {
    max-width: 33.25rem;
    font-size: 1.40rem;
    margin: 2rem auto;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
}

.price-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 33.25rem;
    margin: 2rem auto;
}

.price {
    color: #292929;
    font-size: 1.75rem;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

.rating {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
    width: 7.56rem;
    color: #5F5F5F;
}

.rating-count {
    font-size: 1rem;
    color: #5F5F5F;
}


.desc {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #5F5F5F;
    max-width: 33.25rem;
    margin: 2rem auto;
    line-height: 1.8rem;
}


/* Main - Boyut & Hamur Seç */

form {
    max-width: 33.25rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.boyut-hamur {
    display: flex;
    justify-content: space-between;
    /* Space between boyut and hamur */
    gap: 1rem;

}

.boyut-secim {
    max-width: 9.18rem;
}

.boyut-secim h2 {
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
}

.boyut-secim label {
    display: flex;
    margin: 0.5em 0;
    font-family: 'Barlow', sans-serif;
    line-height: 1.87rem;
}

input {
    max-width: 6.31rem;
}

.hamur-secim {
    max-width: 9.93rem;
    font-family: 'Barlow', sans-serif;
    margin-right: 10rem;
}

select {
    max-width: 9.87rem;
}

.hamur-secim h2 {
    max-width: 9.87rem;
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
}


/* Main - Ek Malzemeler */
.ek-malzemeler {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* 3 sütun */
    gap: 1rem;
    /* Sütunlar arasındaki boşluk */
    margin-top: 1rem;
}

.ek-malzemeler h2 {
    font-size: 1.25rem;
    font-weight: 600;
    grid-column: span 3;
    /* Başlık, tüm sütunları kapsasın */
    color: #292929;
    margin: 0;

}

.ek-malzemeler p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    grid-column: span 3;

}

.ek-malzemeler label {
    display: flex;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
    font-weight: bold;
    color: #5F5F5F;
    gap: 0.8rem;
}

.ek-malzemeler input {
    margin: 0;
}